@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 0;
  --background-end-rgb: 255, 255, 200;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.font-display {
  font-family: var(--font-bangers), sans-serif;
  letter-spacing: 0.05em;
}

